<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Signup Form</title>

    <!-- Import the font from Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/loginstyle.css}">

    <!-- Icons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" th:href="@{/image/favicon.ico}"/>
</head>
<body>
<div class="alert" th:if="${error}">
    <span class="closebtn" onclick="this.parentElement.style.display='none';" th:if="${error}">&times;</span>
    <span th:text="${error}"></span>
</div>

<section class="container forms">

    <!-- Login Form -->

    <div class="form login">
        <div class="form-content">
            <header>Login</header>
            <form action="login" method="post">
                <div class="field input-field">
                    <input type="email" placeholder="Email" name="email" class="input">
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password" name="password" class="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="form-link">
                    <a href="#" class="forgot-pass">Forgot password?</a>
                </div>

                <div class="field button-field">
                    <button type="submit">Login</button>
                </div>
            </form>

            <div class="form-link">
                <span>Don't have an account? <a href="#" class="link signup-link">Signup</a></span>
            </div>
        </div>

        <div class="line"></div>

        <div class="media-options">
            <a href="register" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>

        <div class="media-options">
            <a href="#" class="field google">
                <img src="" th:src="@{image/google.png}" alt="" class="google-img">
                <span>Login with Google</span>
            </a>
        </div>

    </div>

    <!-- Signup Form -->

    <div class="form signup">
        <div class="form-content">
            <header>Signup</header>
            <form action="register" method="post">
                <div class="field input-field">
                    <input type="email" placeholder="Email" name="email" class="input">
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Create password" name="pass1" class="password">
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Confirm password" name="pass2" class="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="field button-field">
                    <button type="submit">Signup</button>
                </div>
            </form>

            <div class="form-link">
                <span>Already have an account? <a href="#" class="link login-link">Login</a></span>
            </div>
        </div>

        <div class="line"></div>

        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>

        <div class="media-options">
            <a href="#" class="field google">
                <img src="" th:src="@{image/google.png}" alt="" class="google-img">
                <span>Login with Google</span>
            </a>
        </div>
    </div>
</section>

<!-- JavaScript -->
<script src="" th:src="@{/js/loginscript.js}"></script>
</body>
</html>